@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

body
{
    background-color: #EBEBEB;
    font-family: 'Raleway', sans-serif !important;
    padding: 16px !important;
}

.hide
{
    display: none !important;
}

.ui.tabular.menu .item
{
    color: #808080;
}

.ui.tabular.menu .active.item
{
    color: #000000;
}

.menu-item-text
{
    margin-right: 4px;
}

.table-container
{
    height: 30%;
}

.table-container table
{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.table-container table thead
{
    flex: 0 0 auto;
    width: calc(100% - 0.7em);
}

.table-container table tbody
{
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.table-container table tbody tr
{
    width: 100%;
}

.table-container table thead,
.table-container table tbody tr
{
    display: table;
    table-layout: fixed;
}


div .ui.card>.content.small-header
{
    flex-grow: 0;
}

pre.content.code-block
{
    overflow-x: auto;
}

td
{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

th
{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width : 1167px)
{
    .menu-item-text
    {
        display: none;
    }
}

@media screen and (max-width : 815px)
{
    #search
    {
        display: none;
    }
}

@media screen and (max-width : 577px)
{
    .menu-item-number
    {
        display: none !important;
    }
}